### Exercícios Pandas

## 1.9

In [ ]:
from pandas import DataFrame, Series
import numpy as np

#################
# Lembrete de sintaxe:
# O seguinte código criará um DataFrame com duas colunas
# nomeado df com as colunas 'name' e 'age':
#
# people = ['Sarah', 'Mike', 'Chrisna']
# ages  =  [28, 32, 25]
# df = DataFrame({'name' : Series(people),
#                 'age'  : Series(ages)})

def create_dataframe():
    '''
    Create a pandas dataframe called 'olympic_medal_counts_df' containing
    the data from the table of 2014 Sochi winter olympics medal counts.  

    The columns for this dataframe should be called 
    'country_name', 'gold', 'silver', and 'bronze'.  

    There is no need to  specify row indexes for this dataframe 
    (in this case, the rows will automatically be assigned numbered indexes).
    
    Data source: https://olympics.com/en/olympic-games/sochi-2014/medals
    '''

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    # Resposta

    df = DataFrame(data={
        'country_name': Series(data=countries),
        'gold': Series(data=gold),
        'silver': Series(data=silver),
        'bronze': Series(data=bronze)
    })

    return df
    


df = create_dataframe()
df

      country_name  gold  silver  bronze
0     Russian Fed.    13      11       9
1           Norway    11       5      10
2           Canada    10      10       5
3    United States     9       7      12
4      Netherlands     8       7       9
5          Germany     8       6       5
6      Switzerland     6       3       2
7          Belarus     5       0       1
8          Austria     4       8       5
9           France     4       4       7
10          Poland     4       1       1
11           China     3       4       2
12           Korea     3       3       2
13          Sweden     2       7       6
14  Czech Republic     2       4       2
15        Slovenia     2       2       4
16           Japan     1       4       3
17         Finland     1       3       1
18   Great Britain     1       1       2
19         Ukraine     1       0       1
20        Slovakia     1       0       0
21           Italy     0       2       6
22          Latvia     0       2       2
23       Australia     0       2       1
24         Croatia     0       1       0
25      Kazakhstan     0       0       1

## 1.10

Tente agora operar nossos dados de contagem de medalhas de Sochi usando vetores.

Usando Pandas, NumPy e o método de aplicação da estrutura de dados, crie uma estrutura de dados denominada avg_medal_count que indica o número médio de medalhas de ouro, prata e bronze que foram ganhas entre países que ganharam pelo menos uma medalha nas olímpiadas de Sochi em 2014.

Utilize o mesmo conjunto de dados do exercício 1.9.

In [ ]:
# 1.10.1
# Para chegar no resulado de teste abaixo, incluir um país com zero medalhas

# Resposta
df = create_dataframe()
df = df.append({'country_name': 'new_country', 'gold':0, 'silver':0, 'bronze': 0}, ignore_index=True)
df[['gold', 'silver', 'bronze']].apply(np.mean)

gold      3.666667
silver    3.592593
bronze    3.666667
dtype: float64

In [ ]:
# 1.10.2
# Filtrar países com pelo menos uma medalha,
# para somente depois calcular a média de cada tipo de medalha

# Resposta
df = df[(df['gold'] >= 1) | (df['silver'] >= 1) | (df['bronze'] >= 1)]
df[['gold', 'silver', 'bronze']].apply(np.mean)

gold      3.807692
silver    3.730769
bronze    3.807692
dtype: float64

In [2]:
from pandas import Series, DataFrame
import numpy as np

avg_medal_count={
        'gold' : Series([13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]),
        'silver' : Series ([11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]),
        'bronze': Series([9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1],)
}

df= DataFrame(avg_medal_count)
df = df.append({'gold':0, 'silver':0, 'bronze': 0}, ignore_index=True)
m=df.loc[(df['gold']>0) | (df['silver']>0 ) | (df['bronze']>0)]# e:& , ou:|  
m.apply(np.mean)

gold      3.807692
silver    3.730769
bronze    3.807692
dtype: float64